@tailwind base;
@tailwind components;
@tailwind utilities;

.header-nav{
    display: flex;
    background-color: brown;
    justify-content: space-around;
    color:white;
    align-items: center;

}

.active{
    background-color: deeppink;
    padding:10px 15px 10px 15px;
    border-radius: 10px;
}

.chats{
    height: 57%;
}


.chats::-webkit-scrollbar{
    display: none;
}

.messages::-webkit-scrollbar{
    display: none;
}

.send-message::after{
  content: "";
  width: 0; 
  height: 0; 
  top: 0px;
  position: absolute;
  right: -8px;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #036242;
}

.receive-message::before{
    content: "";
    width: 0; 
    height: 0; 
    top: 0px;
    position: absolute;
    left: -10px;
    border-bottom: 10px solid transparent;
    border-right: 12px solid #374151;
}